 
.list-item{
     background-color: white;
     padding: 5px;
     margin-top:20px;
     border-radius: 6px;
     box-shadow: 1px 1px 1.25px;
 
}
.list-data{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     margin-right: 3%;  
     padding: 1px 0px;
     font-weight: 500;
     font-size: 14px;
     cursor: pointer;
}

.list-data:hover{
     background-color: rgba(63, 65, 64, 0.070);
}

.catagory-name{
     width: 50%; 
}
.catagory-amount{
     width: 20%; 
}

.catagory-date{
     width: 30%; 
     display: flex;
     justify-content: flex-end;
}



 
 