  
.white-box{
     border-radius: 8px;
     padding: 10px;
     margin: 10px 0px;
     background-color:white;
     box-shadow: 0px 0px 2.50px;
}

.file-box{
     background-color: rgba(255, 255, 255, 0.466);
     box-shadow: 0px 0px 2.5px;
     border-radius: 8px;
     padding: 5px;
}
.home-conatiner{ 
     padding:0px 10px;
}

.filterButtons{
     /* width: 100px;  */
     padding: 2px 5px;
     border: 1px solid black;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: transparent;
}
.charts {
     margin-top: 5px;
}

.pie-chart{ 
     height: 150px !important ;
     width: 150px !important;  
}

 

.home-filter {
     margin-bottom: 10px;
}

 

.expensesAndIncomeReport{
     margin-top:25px; 
     padding: 0%;
}

.expensesAndIncomeButtons{
      display: flex;
      /* margin-top: 10px; */
      padding: 2px 0px;
      justify-content: center;
      align-items: center;   
}
.expensesAndIncomeButtons button{
     width: 90px;
     margin: 0px 5px;
     padding: 4px 0px;
     outline: none;
     border: none;
     border-radius: 8px;
     background-color: transparent;
     box-shadow: 1px 1px 2px;
}

.progress{
     margin-bottom:10px;
} 

.ExpensesTypes span{
     font-weight: 500; 
     position: relative;
     /* margin-left:12px; */

}

.ExpensesTypes .bulet{ 
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
}
 


.tasksContainer{ 
     margin-top: 5px;

}
.taskHeader{
 /* background-color: red; */
 display: flex;
 align-items: center;
}
.taskHeader h4, .notesHeader h4{
  font-weight: 900;
  font-size: 16px;
  position: relative;
}

.taskHeader h4::after, .notesHeader h4::after{
content: '';
position: absolute;
width: 110%;
height: 1px;
bottom: 0%;
left: 0%;
background: linear-gradient(to right, rgb(0, 17, 255) ,rgb(216, 10, 45));
}

.notesContainer{
     margin-top: 5px;
}

.notesHeader{
     display: flex;
     align-items: center;
}

.taskCarousel{
     width: 100%;
     height:200px; 
}

 
.carouselItem ,.carouselItem img{
     width: 100%;
     height: 100%;
}
 
.taskFiles{  
     margin: 2px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

.taskFiles span, .taskFiles p{
     font-size: 11px;
     font-weight: 600;
}
.taskFiles img{
     width:50px;
     /* height: 50px; */
}

.taskFiles:hover, .taskFiles:active{
     scale: 1.1;
}
 
 