.NewTaskModal-conatiner {
     background-color: rgba(208, 217, 241, 0.842);
     height: 86vh;
     margin: 0%;
     width: 100%;
     position: absolute;
     top: 51px;
     left: 0%;
     position: fixed;
     display: flex;
     align-items: center;
     justify-content: center;
}

.task-modal {
     background-color: white;
     padding: 10px;
}
.taksCloseButton{ 
     display: flex;
     justify-content: end;
}
.taksCloseButton h4{
     font-weight: 400;
     /* background-color: rgb(252, 197, 197); */
     font-size: 16px;
     width: 30px;
     height: 30px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
.taskModel-header {
     display: flex;
}

.taskModal-headerName {
     width: 40%;
     font-size: 14px;
}

.taskModal-headerName input {
     width: 100%;
     outline: none;
     border: none;
     border-bottom: 1px solid gray;
}

.taskModal-headerDate {
     width: 60%;
     font-size: 14px;
     display: flex;
     justify-content: end;
}

.taskModal-headerDate input {
     outline: none;
     margin-left: 5px;
}

.addTask-container {
     border: 1px solid red;
     margin-top: 15px;
}

.insert-tasks {
     margin-top: 5px;
     display: grid;
     grid-template-columns: 70% auto;
     gap: 15px;
     padding: 10px;
     border-bottom: 1px solid gray;
}

.insert-task {
     outline: none;
     border: none;
     border-bottom: 1px solid gray;
}
.add-task-btn{
     outline: none;
     border: none;
     border-radius: 6px;
     background-color:rgb(2, 0, 128);
     color:white;
     font-weight: 600;
     padding: 2px 2px;
     font-size: 14px;
}

 
.tableData{  
     max-height: 200px !important;
     overflow: auto;
     margin: 10px 0px;
     padding: 10px;
}

 
.Added-task tr td {
     border: none;
     padding: 2px 5px;
}

.srNo {
     border-right: 1px solid black;
     border-bottom: 1px solid black;

     width: 10%;
}

.tasklist-item {
     width: 60%;
     overflow: auto !important;
     border-bottom: 1px solid black;
     border-right: 1px solid black;

}

.task-time {
     font-size: 12px;
     width: 21%;
     border-bottom: 1px solid black;

}

.task-submit-button{
     margin-top: 10px;
     display: flex;
     justify-content: center;
}
.newtask-submit-btn{
     background-color: var(--bgactive);
  border: none;
  outline: none;
  padding: 2px 5px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.newtask-submit-btn:active{
     scale: 1.1;
     background-color:rgb(212, 247, 144);
}