
.speadContainer{
     /* background-color: red; */
}

.speadButtons{
     display: flex;
     justify-content: center;
}
.speadButtons button{
     border: none;
     outline: none;
     margin-right: 15px;
     padding: 1px 5px;
     
}

.speadTable{
     margin-top: 15px;
     padding: 5px 0px;
     background-color: rgba(253, 220, 220, 0.568);
     overflow: auto;
     min-height: 200px;
}