 * {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-size: 14px;
   font-weight: 500;
   color: rgb(94, 94, 94); 
 }

 /* ========================================================= */

  

 .app-cards {
   background-color: white;
   border: 1px solid rgba(179, 177, 177, 0.459);
   padding: 7px;
 }

 .active {
   color: rgb(6, 212, 212);
   font-weight: 600;
   cursor: pointer;
 }

 .expense {
   color: red;
   font-weight: 600;
   cursor: pointer;
 }

 .income {
   color: green;
   font-weight: 600;
   cursor: pointer;
 }

 .active:active,
 .income:active,
 .expense:active {
   scale: 1.04;
 }

 /* ========================================================= */

 .app-container {
   /* background-color: rgba(215, 215, 215, 0.073); */
   /* height: 100vh; */
   width: 768px;
   position: relative;
   margin: auto;

 }